# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
**/xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Cursor / IDE
.cursor/
.kiro/
.idea/

# Web / Vite
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
*.log

# Archives
*.ipa
*.dSYM.zip
*.dSYM
